#comment-seeker-div {
    font-family: Arial;
    width: 400px;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #CFCFCF;
    z-index: 9999999999;

    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 20px;

    box-shadow: -5px 0px 3px 1px rgba(0,0,0,0.3);
    overflow-y: auto;
}

#results {
    list-style-type: none;
    
    padding: 0px;
    margin: 0px;
}

#results li {
    padding-top: 7px;
    border-top: 1px solid #CFCFCF;
}

#results li:first-of-type {
    padding-top: 0px;
    border-top: none;
}

a {
    font-size: 11pt;
}

.details-cont {
    text-align: justify;
    width: 100%;

    font-size: 0pt; /* Eliminate space of :after */
    margin-top: 2px;
    margin-bottom: 8px;
}

.details-cont:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.details {
    font-size: 9pt;
    color: gray;
    font-weight: bold;
    display: inline-block
}